<table style="direction: rtl;">
    <tr>
        <td><img src="https://jubnawebaith.com/wp-content/uploads/2020/05/final-logo.png" /> </td>
    </tr>
    <tr style="border-bottom: 2px solid #377499;">
        <td><h4>مرحبا</h4></td><td><h4><%= name %> </h4></td>
    </tr>
    <tr>
        <td>سعيدين جدا بتسجيلك معنا في جبنة وبيض</td>
    </tr>
    <tr>
        <td>محتاجين تأكيد ايميلك عن طريق الرابط التالي:</td>
    </tr>
    <tr>
        <td><a href="<%= activation_link %>" target="_blank">هنا</a> </td>
    </tr>
</table>