<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جبنة وبيض</title>
</head>
<body>
    <header>
        <img src="<%= logo %> " alt="jubnawebaith">
        <h2>جبنة وبيض</h2>
    </header>
    <div class="content">
        <h5>شكرا لتفعيلك الحساب.. يمكنك الآن التسوق معنا عبر الرابط التالي</h5>
        <div><a href="app://jubnawebaith">Jubna We Baith</a></div>
    </div>
</body>
</html>