<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جبنة وبيض</title>
</head>
<body>
    <header>
        <img src="<%= logo %> " alt="jubnawebaith">
        <h2>جبنة وبيض</h2>
    </header>
    <form action="clients/forgot_pass_new" method="post">
            رقم السر الجديد: <input type="password" name="new_password" value="" /><br><br>
            الإيميل: <input type="email" name="email" value="" /><br><br>
            <input type="submit" value="accept"/><br><br><hr>
    </form>
</body>
</html>